{% extends "layout.html" %}
{% block body %}

<div class="container-fluid fh5co-home-banner">
    <div class="card"><img class="card-img" src="{{url_for('static',filename='/img/girl1.jpg')}}" alt="website template image">
      <div class="card-img-overlay">
        <div class="center-text">
          <h2 class="card-title">We always keep you informed</h2>
          <a href="https://www.free-css.com/free-css-templates" class="btn"><svg width="201" height="51" viewBox="0 0 201 51">
          <defs>
            <style type="text/css">.cls-1{fill:none;stroke-width:1px;stroke:url(#linear-gradient);}</style>
            <linearGradient id="linear-gradient" x1="140.508" y1="50.5" x2="60.492" y2="0.5" gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#e90e65">
              <stop offset="1" stop-color="#fff">
            </linearGradient>
          </defs>
          <rect id="Rounded_Rectangle_1" data-name="Rounded Rectangle 1" class="cls-1" x="0.5" y="0.5" width="200" height="50" rx="25" ry="25">
          </svg>Explore</a></div>
      </div>
    </div>
  </div>


{% endblock %}